{% load static %}
{% load mathfilters %}
{% include "includes/landing_top.html" %}
<style>body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .profile {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-info {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .profile-info p {
    margin: 10px 0;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 5px;
  }
  </style>
<body>
    <div class="profile">
        <h1>WELCOME, {{ user.first_name }}</h1>
        <div class="profile-info">
          <p><span class="info-label">Name:</span> {{ user.first_name }} {{ user.last_name }}</p>
          <p><span class="info-label">Email:</span> {{ user.email }}</p>
          <p><span class="info-label">Address:</span> {{ profile.address }}</p>
          <p><span class="info-label">Contact:</span> {{ profile.contact }}</p>
        </div>
      </div>
    
    {% include "../includes/footer.html" %}
</body>

